.main-container {
  height: 100vh;
  width: 100%;
  background-color: rgba(46, 46, 46, 0.959);
  max-width: 1600px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-container {
  height: 600px;
  width: 700px;
  background-color: #fff;
}

.task-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.task-header {
  height: 30px;
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: blue;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  justify-content: space-between;
}

.datas {
  font-size: 15px;
  color: #fff;
  display: flex;
  align-items: center;
}

.dataItem {
  margin-right: 30px;
  cursor: pointer;
}

.task-buttons {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  justify-content: space-between;
}

.task-view {
  padding: 1rem;
}

.task-inner-view {
  padding: 2rem 0;
  height: 340px;
  overflow-y: auto;
}

.task-name {
  font-size: 16px;
  color: #000;
  margin-bottom: 10px;
}

.input-field {
  padding: 1rem 0;
}

.label {
  color: rgb(110, 108, 108);
  font-size: 15px;
  margin-bottom: 10px;
}

.field-style {
  border: 1px solid #ccc;
  width: 250px;
  border-radius: 3px;
  padding: 15px;
}

table {
  border-collapse: collapse;
  margin-bottom: 2rem;
}

th {
  padding: 15px;
  width: 330px;
  background-color: #ccc;
}

.nodata {
  width: 99%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(231, 229, 229);
  border-top: none;
}

tr {
  width: 660px;
  height: 50px;
  text-align: center;
  border: 1px solid rgb(231, 229, 229);
}

td {
  width: 330px;
  min-height: 50px;
  padding: 15px;
  text-align: center;
  border: 1px solid rgb(231, 229, 229);
}

.next-button {
  background-color: blue;
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.prev-button {
  background-color: #fff;
  color: blue;
  border: 1px solid blue;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 20px;
}

.drag-drop-head {
  text-align: center;
  color: blue;
  font-weight: bold;
  font-size: 20px;
}

.dropLocation {
  width: 100px;
  height: 40px;
  border: none;
  border-bottom: 2px solid #000;
  color: green;
  margin: 0 10px;
  font-weight: bold;
  font-size: 16px;
}

.help-box {
  padding: 1rem 0;
  margin-top: 1rem;
}

.help-box-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #ccc;
}

.help-head {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.questions {
  display: flex;
  align-items: flex-end;
}

input:focus {
  outline: none;
}

.top-buttons {
  position: absolute;
  right: 1rem;
  display: flex;
  top:75px
}

.show-button {
  background-color: green;
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 20px;
}

.reset-button {
  background-color: red;
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}
